<div class="min-h-screen bg-auto bg-center backdrop-contrast-50 bg-[url('assets/images/login-image.png')] bg-zinc-900 lg:bg-repeat">
  <div class="flex justify-center items-center flex-col min-h-screen">
    <div class="mb-4">
      <img src="assets/images/logo.png" alt="">
    </div>
    <form class="w-full max-w-xs" (ngSubmit)="onLogin()">
      <label class="flex items-center gap-2 mb-4 relative custom-input ">
        <input
          id="input-username"
          type="text"
          class="text-2xl h-12 bg-zinc-500 grow rounded-bl-[32px] placeholder-center text-center pt-4 pb-2 border-t-4 border-t-zinc-400 focus:border-orange-500"
          placeholder="Email_"
          [(ngModel)]="this.loginUser.username"
          [ngModelOptions]="{standalone: true}"
         />
      </label>
      <label class="flex items-center gap-2 relative custom-input">
        <input
          type="password"
          id="input-password"
          class="text-2xl h-12 grow bg-zinc-500 rounded-bl-[32px] text-center pt-4 pb-2 border-t-4 border-t-zinc-400 focus:border-orange-500"
          placeholder="Password_"
          [(ngModel)]="this.loginUser.password"
          [ngModelOptions]="{standalone: true}"
          />
      </label>
      <button
       class="ml-8 mt-4 px-4 py-2"
       type="submit">
        <img src="assets/images/login-button.png" alt="">
      </button>
    </form>
    <p class="text-center text-sm mt-4 text-orange-500">By logging in, you are agreeing to our Terms & Privacy Policy and are at least 16 years old.</p>
    <div class="flex justify-center mt-4">
      <a href="forgot-password-screen" class="text-zinc-500 hover:text-orange-500">Forgot Password</a>
      <p class="mx-2 text-zinc-500">|</p>
      <a href="sign-in-screen" class="text-zinc-500 hover:text-orange-500">Create Account</a>
    </div>
  </div>
</div>
