<div class="bg-zinc-900 p-10"></div>
<div class="bg-zinc-900 min-h-screen flex flex-col">
  <p class="text-white text-xl ml-4">Most Played</p>
  <div *ngIf="games.length > 0" class="carousel carousel-center bg-zinc-900 rounded-box p-4 w-full max-w-full mx-auto space-x-4 mb-10 mt-2">
    <div *ngFor="let game of games" class="carousel-item w-32 h-48 sm:w-36 sm:h-52 md:w-40 md:h-56 lg:w-44 lg:h-60 xl:w-48 xl:h-64 2xl:w-52 2xl:h-68 relative">
      <img [src]="game.background_image" class="rounded-box w-full h-full object-cover"/>
      <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 text-white text-center h-12 py-1">
        <span class="block text-sm">{{ game.name }}</span>
      </div>
    </div>
  </div>
  <div class="flex-grow bg-zinc-900 z-10"></div>
  <app-banner class="mb-20 custom-banner-height" [game]="games[15]"></app-banner>
</div>
