
<div class="card bg-zinc-900 shadow-xl image-full z-10 h-full">
  <figure class="h-full"><img src="assets/images/godofwar.png" alt="Game" class="w-full h-full object-cover" /></figure>
  <div class="card-body flex flex-col justify-end h-full">
    <h2 class="card-title text-white text-lg md:text-xl">
      Playing: God of War
      <span class="mx-2">|</span>
      <span class="hover:text-orange-500 cursor-pointer">Resume game</span>
    </h2>
    <div class="underline bg-orange-500 h-1 w-full mb-2">
  </div>
</div>
